requests
pydub==0.25.1
python-multipart
langchain-google-genai
python-multipart
longtrainer==0.2.4
pikepdf==8.12.0
langchain-together
sentence_transformers==2.3.1
bcrypt==4.1.2
python-jose==3.3.0
passlib==1.7.4
python-dotenv==1.0.1
authlib[asyncio]
pydantic[email]
itsdangerous
unstructured[all-docs]
langchain-unstructured[local]
